<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
</head>
<body>
    <h1>Events</h1>
    {{#if events.length}}
        <ul>
            {{#each events}}
                <li>
                    <h2>{{event_name}}</h2>
                    <p>Date: {{event_date}}</p>
                    <p>Time: {{event_time}}</p>
                    <p>Location: {{location_name}}</p>
                    <img src="{{image_link}}" alt="Event Image">
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No events found.</p>
    {{/if}}
</body>
{{> footer}}
</html>

