{{> message}}
<div class="container mt-4">
  <h3>Suggested events for you to attend in {{destination}}:</h3>
  {{#each events}}
    <form method="POST" action="/add_event_to_itinerary">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{this.image}}" class="img-fluid rounded-start" alt="{{this.name}}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{this.name}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">
                {{#if this.category}}{{this.category}}
                {{#if this.place}} at {{this.place}}{{/if}}
                {{#if}}
              </h6>
              {{#if this.start}}
                <p class="card-text"><small>Starts at {{this.start}}</small></p>
              {{/if}}
              {{#if this.end}}
                <p class="card-text"><small>Ends at {{this.end}}</small></p>
              {{/if}}
              {{#if this.description}}
                <p class="card-text">{{this.description}}</p>
              {{/if}}
              {{#if this.minPrice}}
                {{#if this.maxPrice}}
                  <p class="card-text">Price Range: ${{this.minPrice}} - ${{this.maxPrice}}</p>
                {{/if}}
              {{/if}}
              <a href="{{this.url}}" class="btn btn-primary">Book Now</a>

              <input type="hidden" name="name" value="{{this.name}}">
              
              <button class="btn btn-secondary" type="submit">Add Event to Itinerary</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  {{/each}}
</div>