{{!-- {{> message}}
<body>
    <div class="container mt-5">
        <h2>Events</h2>
        {{#each events}}
            <div class="row">
                <div class="card">
                    
                </div>
            </div>
    </div>
</body> --}}
{{> message}}
{{!-- <body>
    <div class="container mt-5">
        <h2>Discover Events</h2>
            <div class="row">
                {{#each events}}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            {{#if this.images}}
                                <img src="{{this.images.url}}" class="card-img-top" alt="{{this.name}}">
                            {{else}}
                                <img src="/default/image" class="card-img-top" alt="Default Image">
                            {{/if}}
                            <div class="card-body">
                                <h5 class="card-title">{{this.name}}</h5>
                                <p class="card-text">{{this.dates.start.localDate}} at {{this.dates.start.localTime}}</p>
                                <a href="{{this._links.self.href}}" class="btn btn-primary" target="_blank">Book Now</a>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
    </div>
</body> --}}

<body>
  <div class="container mt-5">
    <h2>Discover Events</h2>
    <div class="row">
      {{#each events as |event|}}
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img src="{{event.image}}" class="card-img-top" alt="{{event.name}}">
          <div class="card-body">
            <h5 class="card-title">{{event.name}}</h5>
            <p class="card-text">{{event.date}}</p>
            <a href="{{event.url}}" class="btn btn-primary" target="_blank">Book Now</a>
          </div>
        </div>
      </div>
      {{else}}
        <p>No events found.</p>
      {{/each}}
    </div>
  </div>
</body>
