<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saved Events</title>
</head>
<body>
    {{> message}}
    <h1>{{first_name}}'s Saved Events</h1>
    {{#if events.length}}
        <ul>
            {{#each events}}
                <li>
                    <h2>{{event_name}}</h2>
                    <p>Date Saved: {{date_saved}}</p>
                    <p>Date: {{event_date}}</p>
                    <p>Time: {{event_time}}</p>
                    <p>Country: {{country_name}}</p>
                    <p>City: {{city_name}}</p>
                    <p>Event Description: {{event_desc}}</p>
                    {{!-- <p> currentlu unfunction, does not give js eventid
                        <form method="delete" action='/deleteSaved_event'>
                            <input type="hidden" name="eventid" value={{eventid}}>
                                <button DELETE>Unsave</button>
                        </form>
                    </p> --}}
                    <img src="{{image_link}}" alt="{{image_desc}}">
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No events found.</p>
    {{/if}}
</body>
{{!-- {{> footer}} --}}
</html>